[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[C6704191704188DF]
row=0
col=0

[5AFE20E8FE20BE5F]
row=2
col=0

[5AED-EBC7]
row=1
col=0

[Papelera]
row=3
col=0

[/]
row=4
col=0

[/home/joel]
row=5
col=0

