[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/joel/dotfiles]
row=2
col=2

[/home/joel/Descargas]
row=1
col=1

[/home/joel/DATOS]
row=0
col=1

[/home/joel/VirtualBox VMs]
row=4
col=2

[/home/joel/AnyDesk]
row=3
col=2

[/home/joel/Documentos]
row=2
col=1

[/home/joel/Escritorio]
row=3
col=1

[/home/joel/Videos]
row=1
col=2

[/home/joel/Imagenes]
row=4
col=1

[/home/joel/snap]
row=0
col=2

[/home/joel/local]
row=5
col=1

[5AFE20E8FE20BE5F]
row=5
col=0

[5AED-EBC7]
row=4
col=0

[C6704191704188DF]
row=3
col=0

[Papelera]
row=1
col=0

[/]
row=2
col=0

[/home/joel]
row=0
col=0

